# Build outputs
bin/
obj/
out/
publish/

# NuGet packages
/packages/

# Rider / ReSharper
riderModule.iml
/_ReSharper.Caches/
.idea
*.DotSettings.user

# Visual Studio
.vs/
*.user

# Environment / secrets
.env
.env.*

# Local tooling
.tools/
**/dotnet-install.ps1
